# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
var/
sdist/
wheels/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by pyinstaller in the output directory
#  during its build process and can be safely ignored.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
